* {
  font-family: 'ABeeZee', sans-serif;
  box-sizing: border-box;
}

:root{
  --primary:#FFEEEE;
  --gray:#585858;
  --graylight:#C4C4C4;
  --black:#000000;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
